@page "/moneyreport"

<h3>MoneyReportPage</h3>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="moneyreport/dayreport">
        <span class="oi oi-list-rich" aria-hidden="true"></span>Day Report
    </NavLink>
</div> <div class="nav-item px-3">
    <NavLink class="nav-link" href="moneyreport/periodreport">
        <span class="oi oi-list-rich" aria-hidden="true"></span>Period Report 
    </NavLink>
</div>
